<div id="title-paralax" class="slide header">
  <h1 class="title-home">Infographiste 2D & 3D</h1>
  <h1 class="title-home">Developpeur web</h1>

</div>

<div id="slide1" class="slide">
  <div class="title">

        <!-- au lieu de "Actuelement embauché"
        Infographiste 3d pour une start up liloise durant un
        moment, je decide en 2016 de me lancer dans l'aventure entreupreunarial afin d'offire a mes clients des service de conception de site web, logiciel et application connecter, a des prix valorisant et avec un suivie et une maintenance
        de grande qualité.
        -->
    <h1>Actuelement</h1>
    <p>Infographiste 3d dans une entreprise Lilloise, je produis des
    films d'animation ayant pour objectif d'accompagner les clients lors de leurs achats.</p>
    <p>
      Je fournis aussi des images d'ambiances et design pour les publicité
      urbaines et de presse.
    </p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>En paralléle</h1>
    <p>de maniére assidut et proffessionnelle, je développe divers projets en me chargeant du graphisme et de la programmation des applications web et 3d temps réel.</p>
  </div>


</div>

<div id="slide3" class="slide whiteTypo">
  <div>
    <h1 class="white-text">Les technologie du moments</h1>
    <p class="white-text">Toujours en veille des nouveau outils et logiciels, j'utilise les plus récent moteur de rendu 3d proffessionnel présent sur le marcher en 2016 ainsi que les dérniére mise à jour de framework.</p>
  </div>
</div>

<div id="slide4" class="slide whiteTypo">
  <div>
  <i class="medium material-icons call-icon">call</i>
  <h1 class="white-text">Pour me contacter</h1>
  <p class="white-text">Actuelement sur la metropole Lilloise, je suis mobile et habituer au services à distance.
  Veuillez passer par la rubrique contact du site, merci!</p>
</div>
</div>
