<div id="title-paralax" class="slide header">
  <h1 class="title-home">Infographiste 2D & 3D</h1>
  <h1 class="title-home">Developpeur web</h1>

</div>

<div id="slide1" class="slide">
  <div class="title">

        <!-- au lieu de "Actuelement embauché"
        Infographiste 3d pour une start up liloise durant un
        moment, je decide en 2016 de me lancer dans l'aventure entreupreunarial afin d'offire a mes clients des service de conception de site web, logiciel et application connecter, a des prix valorisant et avec un suivie et une maintenance
        de grande qualité.
        -->
    <h1>Actuellement</h1>
    <p>Infographiste 3d dans une entreprise Lilloise, je produis des films d'animation</p>
    <p>ayant pour objectif d'accompagner les clients lors de leurs achats.</p>
    <p>Je fournis aussi des images d'ambiances et de design pour les publicitées urbaines et de presse.</p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>En parallèle</h1>
    <p>Passionné et professionnelle, je développe divers projets en me chargeant du graphisme
      et de la programmation des applications web et 3d temps réel.</p>
  </div>


</div>

<div id="slide3" class="slide whiteTypo">
  <div>
    <h1 class="white-text">Les technologies du moment</h1>
    <p class="white-text">Toujours en veille des nouveaux outils et logiciels, j'utilise les plus récents moteurs de rendu 3d professionnel
      présent sur le marcher en 2016 ainsi que les dernières mise à jour de framework.</p>
  </div>
</div>

<div id="slide4" class="slide whiteTypo">
  <div>
  <i class="medium material-icons call-icon">call</i>
  <h1 class="white-text">Pour me contacter</h1>
  <p class="white-text">Actuellement sur la métropole Lilloise, je suis mobile et habitué au service à distance.
    Veuillez passer par la page contact du site, merci!</p>

</div>
</div>
