
  <div id="slide1" class="profile-text slide img-slide">
    <h1>En quelque lignes</h1>
    <p>Infographiste 3d pour une entreprise privée liloise depuis un
      moment, <br>
      je decide en 2016 de me lancer dans l'aventure entreupreunarial afin<br>
      d'offire a mes clients des services de graphisme, conception de site web,<br>
      logiciel et application connecter. Toute production est accompagné d'une interface <br>
      facilité et d'un réel suivie de votre produit aprés livraison.</p>

      <h5>Decouvrez mes compétences ci-dessous.</h5>
      <div>
        <h1 id="fleche" class="animated infinite bounce">⬇</h1>
      </div>

      <div class="row">
        <div id="btn2d" class="col s3 waves-effect waves-light btn" height=50 (click)="btnClicked('btn2d','section-info2d','section-info3d','section-collab','section-dev');" (mouseover)="btnOver('btn2d');" (mouseout)="btnOut('btn2d');">
          <h6 class="center-align">Infographiste 2d</h6>
        </div>

        <div id="btn3d" class="col s3 waves-effect waves-light btn" height=50 (click)="btnClicked('btn3d','section-info3d','section-info2d','section-collab','section-dev');" (mouseover)="btnOver('btn3d');" (mouseout)="btnOut('btn3d');">
          <h6 class="center-align">Infographiste 3d</h6>
        </div>

        <div id="btnDev" class="col s3 waves-effect waves-light btn" height=50 (click)="btnClicked('btnDev','section-dev','section-info3d','section-collab','section-info2d');" (mouseover)="btnOver('btnDev');" (mouseout)="btnOut('btnDev');">
          <h6 class="center-align">Developpeur</h6>
        </div>

        <div id="btnCollab" class="col s3 waves-effect waves-light btn" height=50 (click)="btnClicked('btnCollab','section-collab','section-info3d','section-info2d','section-dev');" (mouseover)="btnOver('btnCollab');" (mouseout)="btnOut('btnCollab');">
          <h6 class="center-align">Travaillons ensemble!</h6>
        </div>
      </div>
  </div>

<div class="container">

  <div id="section-dev" class="row text-description">

    <h1>Web developpeur.</h1>

    <h3>Savoir faire</h3>

    <p>① Developpement de site web dynamique en javascript pure ou via différent framework front end.</p>
    <p>② Dévelopement d'application desktop windows, mac, linux et mobile.</p>
    <p>③ Mise en place de viewer 3d sur page web pour présenter des objet 3d en temps réel.</p>
    <p>④ Connaissances en sécurité serveur apache2, nodejs, ssh, ...</p>
    <p>⑤ Création des graphisme vectoriel et image pour l'interface de l'application.</p>
    <p>⑥ Connaissance en base de donnée Sql et noSql.</p>

    <h3>Expériences</h3>

    <p>① Développeur web junior en cdd.</p>
    <p>② Piscine.</p>
    <p>③ Divers projet personnel ou en collaborations.</p>
    <p>④ Divers projet en tant qu'auto-entrepreuneur.</p>

    <h3>Connaissances logiciels</h3>


          <div  class="row logo-place">
            <div class="logo-log">

        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo10.png" >

      </div>
      <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo2.png" >

      </div>
      <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo3.png" >

      </div>
      <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo4.png" >

      </div>
      <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo11.png" >

      </div>
    </div>
  </div>


  <!--
    SECTION MON PROFILE D INFOGRAPHISTE 2D
  -->

  <div id="section-info2d" class="row text-description">

    <h1>Infographiste 2d</h1>

    <h3>Savoir faire</h3>

      <p>① Maitrise des outils d'illustration vectoriel.</p>
      <p>② Maitrise des outils d'illustration, de retouche photo et vidéo.</p>
      <p>③ Maitrise des outils d'animation vectoriel, tradictionnel.</p>
      <p>④ Maitrise des encodages de donnés photo et vidéo, sans pertes de qualitée.</p>
      <p>⑤ Maitrise des outils de réalisation et cproduction vidéos.</p>
      <p>⑥ Maitrise des outils de prise de vue photos et vidéo.</p>
      <p>⑦ Expérience et veille des applications en communication marqueting.</p>

    <h3>Expériences</h3>

      <p>① Création de logo et identité visuel.</p>
      <p>② Retouche photos.</p>
      <p>③ Création de visuél pour le print, la decoupe vynil et la serigrphie.</p>


      <h3>Connaissances logiciels</h3>


      <div  class="row logo-place">
        <div class="logo-log">

          <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo13.png" >

        </div>
        <div class="logo-log">

          <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo14.png" >

        </div>
        <div class="logo-log">

          <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo15.png" >

        </div>
      </div>

  </div>


  <!--
    SECTION MON PROFILE D INFOGRAPHISTE 3D
  -->

  <div id="section-info3d" class="row text-description">


        <h1>Infographiste 3d</h1>

        <h3>Savoir faire</h3>

          <p>① Maitrise des outils de modélisation 3d pour polygon et Nurbs, low poly et high poly.</p>
          <p>② Maitrise des outils de texturing, d'optimisation temps réel des textures.</p>
          <p>③ Maitrise des outils de rigging et skinning 3d.</p>
          <p>④ Maitrise des outils d'animation 3d sur camera, objet, personnages, simulation physique.</p>
          <p>⑤ Maitrise du ligthing.</p>
          <p>⑥ Maitrise des technique de rendu local ou sur render farm.</p>

        <h3>Expériences</h3>

          <p>① Réalisateur et concepteur de film d'animation.</p>
          <p>② Character designer pour film d'animation.</p>
          <p>③ Création de décors 3d pour images ou film d'animation.</p>
          <p>④ Divers projet en tant qu'auto-entrepreuneur.</p>

          <h3>Connaissances logiciels</h3>

      <div  class="row logo-place">

        <div class="logo-log">


            <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo8.png" >

          </div>


          <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo6.png" >

      </div>
      <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo9.png" >

      </div>


      <div class="logo-log">


          <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo1.png" >

        </div>
        <div class="logo-log">


          <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo7.png" >

        </div>





        <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo12.png" >

      </div>

      <div class="logo-log">


        <img alt="logo de Naïm Aouaichia" src="./app/pictures/logo-portefolio/logo5.png" >

      </div>



    </div>
  </div>

<!--
  SECTION SI UN JOUR ON TRAVAILLE ENSEMBLE VOUS ET MOI
-->
  <div id="section-collab" class="row">
    <div class="row">

        <h1 class="center-align services-title">Mes Services</h1>

    </div>

    <div class="row">
<div class="center-align">
  <img class="responsive-img circle" src="./app/pictures/services01.png" height=100 width=100>
</div>
        <p class="center-align services-text">
 Design et illustration 2d pour le web, le print, la vidéo.</p>

 <br>
        <br>
<div class="center-align">
  <img class="responsive-img circle" src="./app/pictures/services02.png" height=100 width=100>
</div>
        <p class="center-align services-text">
 Solution informatique, applications web & logiciel.</p>

 <br>
        <br>
<div class="center-align">
  <img class="responsive-img circle" src="./app/pictures/services03.png" height=100 width=100>
</div>
        <p class="center-align services-text">
 Réalisation, conception de visuel print, web ou vidéo d'objet, animation et architecture 3D.</p>
    </div>

    <br>
    <br>


    <div class="row">

        <h1 class="center-align services-title">Les avantages</h1>

        <div class="center-align">
          <i class="large material-icons">android</i>
        </div>
        <p class="center-align services-text">
          Si pour quelque raison, votre projet doit reposé sur une technologie précise de votre choix, cela n'a pas d'impact sur le prix.</p>

          <div class="center-align">
            <i class="large material-icons">web</i>
          </div>
          <p class="center-align services-text">
          L'interface étant la fenétre ouverte sur votre produit, nous nous engagons a étudier vos habitude d'intéraction afin d'adapter l'acces au fonctionnalité et outils développé spécialement pour vous.</p>

          <div class="center-align">
            <i class="large material-icons">visibility</i>
          </div>
        <p class="center-align services-text">
        Dés lors que votre solutions est livré, nous guardons un contact pérmanent pour tout besoin d'évolution, de mise a jour, ou simplement de précisions.</p>

        <div class="center-align">
          <i class="large material-icons">verified_user</i>
        </div>
        <p class="center-align services-text">
        Toutes nos solutions, applications web et logiciel sont fournit avec leur notice illustré, imprimable, spécialement déssiné pour leur utilisation et votre compréhension.</p>


    </div>

    <br>
    <br>

    <div class="row">

        <h1 class="center-align services-title">Les technologies et outils de production</h1>
        <p class="center-align services-text">Toujours en veille des nouvelles techniques eploité a travers le monde, j'utilise les plus récent moteur de rendu 3d proffessionnel présent sur le marcher en 2016 et diversifie mes outils de dévelopements.</p>


    </div>

    <br>
    <br>

    <div class="row">

      <h1 class="center-align services-title">Situation géographique</h1>
      <p class="center-align services-text">En 2016, et dupuis plusieur année, les télécommunictions s'étant développé a grande vitesse, travaillé et échanger a distance est devenue une routine, voir une habitude, je suis mobile sur toute région au situé au dessu de Paris, paris inclue.</p>

    </div>

  </div>


</div>
