<h1 class="center-align">
  Sources
</h1>



<div class="row">

<ul>
  <li *ngFor="let item of heroes">

  <div class="col s3">
    <div class="card">
      <div class="card-image">

        <img src="{{image}}">
        <span class="card-title">Card {{item.name}}</span>

      </div>
      <div class="card-content">

        <p>my heroes is {{ item.id}}</p>

      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>

</li>
</ul>

</div>
