<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">

        <h5 class="white-text">Collaboration & projets innovant!</h5>
        <p class="grey-text text-lighten-4">Passionné du web, il me vient souvent des idées d'outils et applications à développé, mais le temps étant limité pour chacun, et la création de solutions chrono phage, les idées s'évaluent, les prisent de risque se réfléchisse, c'est pour cela que je suis ouvert à tout projet nouveau, qu'elle que soit son budget.</p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Mes références</h5>
        <ul>
          <li><a class="white-text" target="_blank" href="https://angular.io/">Angular</a></li>
          <li><a class="white-text" target="_blank" href="https://nodejs.org/en/">NodeJs</a></li>
          <li><a class="white-text" target="_blank" href="https://www.mongodb.com/">MongoDb</a></li>
          <li><a class="white-text" target="_blank" href="https://laravel.com/">Laravel</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Une urgence?</h5>
        <ul>
          <li><a class="white-text" href="#!">+33 (0)6 25 58 22 70</a></li>
          <li><a class="white-text" href="#!">naim.aouaichia@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      Made by Naïm Aouaichia © 2016 | <a class="orange-text text-lighten-3" href="http://naimaouaichia.com">développeur concépteur fullstack web 2d & 3d à Lille, Paris et en île de France.</a>
    </div>
  </div>
</footer>
