<header class="mdl-layout__header">
  <nav class="myHeader">

    <img alt="logo de Naïm Aouaichia" src="./app/pictures/btn-logOut.png" height="50" width="50" >
    <a routerLink="/home" routerLinkActive="active">
    Aouaichia Naïm</a>

    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/contact" routerLinkActive="active">
        Contact</a>
      </li>
      <li>
        <a routerLink="/src" routerLinkActive="active">
        Src</a>
      </li>
      <li>
        <a routerLink="/tuto" routerLinkActive="active">
        Tuto</a>
      </li>
      <li>
        <a routerLink="/realisation"routerLinkActive="active">
        Realistion</a>
      </li>
      <li>
        <a routerLink="/profile"  routerLinkActive="active">
        Profile</a>
      </li>
    </ul>

  </nav>
</header>
